2
}

.colors {
   margin-top: 0px;
    color: transparent;
    background-image: linear-gradient(to right , #4dc6ff,#DD2A7B,#8134AF);
    
    -webkit-background-clip: text;
    
    background-size: 500%;
    font-family: Proxima%20Nova%20bold.otf;
     
        
}



p{
    text-align: center;
}


.dis {
    margin-top: 0px;
}

.mine
{
    
    position: absolute;
    transform: translateY(-50%);
    top:45%;
    text-align: center;
    align-content: center;
       
}

.word {
    display: inline-block;
}

.word span{
    position: absolute;
    overflow: hidden;
    animation: animate 8s linear infinite;
    opacity: 0;
  top: 0;
    
    
    
    
}

@keyframes animate
{
    0%{
        opacity: 0;
        transform: translateY(50px);
        background-position: 0% 100%;
    }
    2%{
        opacity: 1;
        transform: translateY(0px);
    }
    18%{
        opacity: 1;
        transform: translateY(0px);
    }
    20%{
        opacity: 0;
        transform: translateY(-50px);
    }
    50%
    {
        background-position: 100% 0%;
    }
    100%{
        opacity: 0;
        transform: translateY(-50px);
        background-position: 0% 100%;
    }
}
.word span:nth-child(1)
{
    animation-delay: 0s;
}
.word span:nth-child(2)
{
    animation-delay: 2s;
}
.word span:nth-child(3)
{
    animation-delay: 4s;
}
.word span:nth-child(4)
{
    animation-delay: 6s;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
     
  }
    .mine{
        top: 53%;
        right: 900px;
    }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
       z-index: -1;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }
    
    .intro{
        top: 70px;
    }

    
    
  .nav{
    height: calc(var(--header-height) + 1rem);
      z-index: 1100;
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--clr-pop);
  }

  .home{
    height: 66vh;
      margin-bottom: 34vh;
  }
  .home__data{
    align-self: flex-end;
  }
  .home__social{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img{
    width: 457px;
    bottom: 15%;
  }

    .intro{
        margin-left: 50px;
    }
  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
      
  }
  .about__img img{
    width: 300px;
      
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
    .mine{
        right: 55%;
    }
}

#about{
    height: 100vh;
}

@media screen and (min-width: 1024px){
   
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
      object-position: center;
  }
    
    .mine{
        right: 55%;
    }
    
    #skills{
        height: 100vh;
    }
}


@media screen and (min-width: 1466px){
    
    .nav__menu{
        width: 314px;
    }
     .about__subtitle{
        font-size: 33px;
        margin-left: 40px;
    }
    .about__img
    {
        width: 500px;
        
    }
    .about__text{
        margin-left: 40px;
    }
    .about__img img{
        
        width: 500px;
        left: 0;
    }
    .about{
        width: 1424px;
    }
    
    
}

@media screen and (max-width: 767px){
    
    .skills__img {
        width: 0px;
    }
    
   
    
    .about__img img{
        width: 300px;
    }
    .cursor1{
        width: 0px;
    }
    .cursor-inner{
        width: 0px;
        color: var(--clr-dark);
    }
    .mine{
        
        text-align: center;
        left: 4%;
        font-size: 37px;
    }
     span{
        display: block;
    }
    
    
}
@media screen and (max-width: 411px)
{
    .mine{
        text-align: left;
    }
}
/* Fill up */



h1 {
  font-size: calc(1rem + 4.5vw);
  font-family: Proxima%20Nova%20Bold.otf;
    max_width:80%;
  margin: 0 0 0.25em;
  line-height: 1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
    color: #D3D3D3;
}

